.video {
  /* This is to make the video appear behind everything else */
  position: fixed;
  z-index: -1000; /* Z-Index is -1000 just to be safe */
  right: 0;
  bottom: 5;
  min-width: 100%;
  min-height: 100%;
}

.content {
  /* This is for the content */
  position: fixed;
  z-index: 1; /* This can be set to any number greater than -1000. */
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.list-unstyled {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

h1 {
  text-size-adjust: 18px;
}
